html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	min-width: 320px;
}

img {
	width: 100%;
	display: block;
}

figure {
	margin: 0;
}

header {
	background-image: url("../img/pattern.png");
}

h1 {
	margin: 0em;
	padding-bottom: .35em;
	padding-top: .50em;
	text-align: center;
	font-size: 3em;
	color: #512200;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	display: block;
}



.beetle-l {
	width: 20%;
	float: left;
}

.beetle-r {
	width: 20%;
	float: right;
}



nav {
	background-color: rgba(81,34,0,.50);
	padding: 1em;
	text-align: center;
}
nav ol:hover {
	background-color: #512200;
}


ol {
	padding-left: 0;
	margin: .50em;
}

ol li {
	display: inline-block;
	list-style-type: none;
	background-color: #ba6e8d;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
}

nav a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding-right: .50em;
}

nav a:hover {
	background-color: #512200;
}


.h2 {
	background-image: url("../img/cement.jpg");
	background-size: cover;
	display: block;
	padding: 6em;
	margin: 0;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, rgba(0,0,0,), rgba(0,0,0.50));
}


h2 {
	background-color: #ba6e8d;
	font-size: 1.5em;
	color: #fff;
	background-position: center center;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: bold;
}


h2:hover {
	background-color: #ba6e8d;
}

figcaption {
	color: #fff;
	text-align: center;
	padding: 0;
	font-size: 5em;
	font-family: 'Lato', sans-serif;
}

.row {
	overflow: hidden;
}

.row figure {
	float: left;
	width: 50%;
	position: relative;
}

.row figcaption {
	position: absolute;
	bottom: 10px;
	left: 5px;
	width: 100%;
	text-align: center;
}


.button {
	padding: .25em .50em;
	display: inline-block;
	font-size: 1.25rem;
	color: #fff;
	position: absolute;
	left: 20%;
	bottom: 10px;
	text-decoration: none;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, limegreen, darkgreen);
	box-shadow: 0 2px 5px rgba(0,0,0,1);
}

a:hover {
	background-color: blue;
}



footer {
	background-image: url("../img/beetle-graphic.svg");
	clear: both;
	background-repeat: no-repeat;
	background-color: rgba(81,34,0,.50);
	padding: 1rem;
	background-position: center;
}

.graphic-footer {
	padding: 1.5em;
	width: 10% auto;
}
