html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

img {
	width: 100%;
}

figure {
	margin: 0;
}


h1 {
	margin: 0em;
	padding-bottom: .35em;
	padding-top: .50em;
	text-align: center;
	font-size: 2.5em;
	color: #512200;
	background-color: #ba6e8d;

}

nav {
	background-color: #512200;
	padding: 0.5em;
}

ol {
	padding-left: 0;
	margin: .50em;
}

ol li {
	display: inline-block;
	list-style-type: none;
	background-color: #ba6e8d;
	font-size: 1em;
	color: #fff;
	margin-right: 1.5em;
}


h2 {
	background-image: url("../img/cement.jpg");
	padding: 6em;
	background-size: cover;
	margin: 0;
	background-color: #ba6e8d;
	font-size: 1em;
	color: #fff;
	background-position: center center;
}

h2:hover {
	background-color: pink;
}

figcaption {
	color: #fff;
	text-align: center;
	padding: 0;
	font-size: 5em;
}

.row {
	overflow: hidden;
}

.row figure {
	float: left;
	width: 50%;
	position: relative;
}

.row figcaption {
	position: absolute;
	bottom: 10px;
	left: 5px;
	width: 100%;
	text-align: center;
}

.button: hover {
	background-color: pink;
}


.button {
	padding: .50em .75em;
	background-color: limegreen;
	font-size: 1.25rem;
	color: #fff;
	text-decoration: none;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, limegreen, darkgreen);
}

.button: hover {
	background-color: pink;
}





footer {
	background-color: #512200;
}
